@page
@model PortalEscolar.Views.Usuario.LoginModel
@{
}

<<form action="/Usuario/Logar" method="post"> 
   
    <input type="email" name="email" id="email">
    <input type="password" name="senha", id="senha">
    <input type="submit" value="Enviar">
</form>

