@page
@model PortalEscolar.Views.Shared._LinkVerticalModel
@{
}

<nav class= "container-fluid row " >
    <ul class="list-unstyled dar text-dark">
        <li class="nav-item">
            <a href="#">Minhas Materias</a>
        </li>
        <li class="nav-item">
            <a href="#">Minhas Turmas</a>
        </li>
    </ul>
</nav>

