
@model PortalEscolar.Views.ViewModel.MateriaAlunoViewModel
@{
}

@foreach (var materia in Model.Materias)
{
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between"><h3 class="card-title">@materia.NomeMateria</h3>  <div class="d-flex flex-column "><p class="fw-bold">Professor:</p><span style="margin-top: -1.5rem;"> @materia.NomeProfessor</span></div></div>
            <p class="card-text">Sala: @materia.Sala</p>
        </div>
    </div> 
}
@if(Model.Materias.Count < 1)
{
    
    
    <div class= "card mb-3" >
        <div class= "card-body" >
            <div class= "d-flex justify-content-between" ><p class="text-center">Nenhuma matéria encontrada.</p></div >
            
        </div >
    </div >
}