@model PortalEscolar.Views.ViewModel.MatriculaMateriaViewModel
@{
}
<div class="d-flex justify-content-center align-items-center container-fluid vh-100 bg-black" style="margin-top:-3rem">
    <form asp-action="CadastroMatriculaMateria" asp-controller="painel" class="d-flex flex-column justify-content-center">
        <label asp-for="_idMateriaPeriodo">Matéria:</label>
        <select asp-for="_idMateriaPeriodo" class="form-control" asp-items="Model.materiasPeriodos"></select>
        
    
        <input type="submit" value="Cadastrar Matériaaa">
    </form>
</div>
