
@model PortalEscolar.Models.Materia
@{
}


<div class="d-flex justify-content-center align-items-center vh-100 " style="margin-top:-3rem;">

    
    <form asp-action="CadastrarMateria" asp-asp-controller="painel" method="post" class="d-flex flex-column gap-2  form-control p-3 card w-25">
    <h2 class="text-center">Criar uma matéria</h2>
        <label asp-for="Nome">Nome: </label>
    <input type="text" aspfor="Nome" id="Nome" name="Nome" class="form-control">
    <label asp-for="Cargahoraria">Carga Horária: </label>
    <input type="number" aspfor="Cargahoraria" id="Cargahoraria" name="Cargahoraria" class="form-control">
    <input type="submit" value="Criar Matéria" class="btn btn-primary">
</form>
</div>

